{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}

    <div class="flex flex-col">

        <div class="m-1 p-2 justify-items-start font-semibold text-4xl text-violet-900"> 
            <h1>Search Results</h1>
        </div>

        <!--To display any message-->
        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <li class="m-1 py-1 px-2 bg-red-100 text-red-600 text-xl font-semibold rounded-sm ">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <!--List of entrires-->

        <div class="flex flex-col">
            <ul class="m-1 p-1 flex flex-col">
                {% for title in results %}
                    <li class="my-2 px-8 flex flex-col justify-start ring-1 ring-violet-200 hover:bg-violet-300  rounded-md">
                        <a href="{% url 'entryPage' title %}" class="m-0 pb-2 text-violet-900 hover:text-black">
                            <h1 class="text-xl font-semibold">{{ title | safe }}</h1>
                            <input type="hidden" value="{{title}}" name="title">
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        
    </div>

{% endblock %}